{%extends 'base.html'%}

{%block head%}
    <title>Reset Password</title>
{%endblock%}
{%block body%}
    <h1>Reset Your Password</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="login-block">
        <form method="POST">
            <label for="username">Enter Your Username:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="new_password">New Password:</label>

            <input type="password" id="new_password" name="new_password" required>

            <button type="submit" id="btn">Reset</button>
        </form>
    </div>
{%endblock%}